
/*RESETEO DEL VALORES*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"Oswald", sans-serif;
}
/*CONFIGURACION DE VARIABLES*/
:root{
    --main-color:#f3f3f3;
    --secondary-color:#333;
    --third-color:#990000;
    font-weight: bold 700;
}
/*ESTILOS DEL BODY*/
body{
    background-color: var(--secondary-color);
    color:var(--main-color); 
}
/*GENERALIDADES*/
h1{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
    

}
h2{  
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;  

}
/*MEDIA QUERYS PARA DISPOSITIVOS HASTA 800 PX )*/
@media screen and (max-width:800px){
    h1{
        font-size: 2rem;
      }    
    h2 {
        font-size: 1.8rem;
       }
}
header,footer{
    background-color:var(--third-color) ;
    color:var(--main-color);
    padding: 20px ;
   }
/*ESTILOS DEL HEADER*/
.header{
    height: 15vh;
   position: sticky;
   top: 0;
   z-index: 10;
nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
a{
    text-decoration: none;
    color: var(--main-color);
    font-size: 1.6rem;

}

    ul{
        list-style:  none;
        display: flex;
        column-gap: 20px;
            a{
                text-decoration: none;
                color: var(--main-color);
                font-size: 1.4rem;
            
            }
        }
    }
   }

@media screen and(max-width:800px){
    .header{
           height: initial;
        nav{
        flex-direction: column;
        row-gap: 20px;
         ul{
           flex-direction: column;
           row-gap: 10px;
           }
           }
           }
   }
   
.sectiontitulos{
    height: 85vh;
    background:linear-gradient(to bottom, #00000098,#00000098 ), url("../assets/img/banner.jpg"); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align:center;
    justify-content: center;


.contenedortitulos{
 
    text-align: center;
    backdrop-filter: blur (10px);
    width: 60%    ;
    margin: 0 auto;
    padding-top: 50px;
    border-radius: 5px;
    a{
        margin-top: 20px;
        display: inline-block;
        text-decoration: none;
        color:var(--main-color);
        font-size: 2rem;
        border: 2px solid var(--main-color);
        border-radius: 5px;
        padding: 10px 20px ;

    }

}
}
@media screen and(max-width:800px){
    .sectiontitulos{ 
        height: 75vh;
        background:linear-gradient(to bottom, #00000098,#00000098 ), url("../assets/img/bg_mobile.jpg"); 
           .contenedortitulos{
               width: 90%;
               a{/*boton registrarse de la secciond de arriba*/
                   font-size: 1.5rem;
               }
           }
   
   }
   }
   
.peliculastendencia{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    h2{
        margin-top: 20px 0;        
    }
    .galeriatendencia{
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
        flex-wrap:wrap ;
        margin-bottom: 20px;
        div{
            width: 250px;
            height: 350px;
            box-shadow: 10px 10px 52px -5px rgba(250,245,245,0.42);
            border-radius: 5px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;

            }
        }
    }
}
button {
    margin-top: 50px;
  margin-bottom: 20px;
}
/*ESTILOS SECCION PELICULAS ACLAMADAS*/
.peliculasaclamadas{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    h2{
        margin-top: 20px 0;     
        margin-bottom: 20px;   
      }
    .galeriaaclamadas{
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: start;
        column-gap: 30px;
        div{
            width: 300px;
            height: 350 px;
            flex-shrink: 0;
         


            img{
                width:  100%;
                height:  100%;
                object-fit: cover;
                border-radius: 5px;
                
            }
        }

    }

}


/* MEDIA QUERYS PARA CELULAR */


 






/*@media screen and(min-width: 601px)and (max-width:992px){   
    h1{
        font-size: 2.5rem;
    } 
   

}*/



/*SINTAXIS NUEVA CSS NIVEL PARA MEDIA QUERYS PARA CELULAR 
@media (width <= 768px){

}*/